.loading {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.1;
  z-index: 10;
  overflow: hidden;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #ff0000;
  border-radius: 50%;
  left: 50%;
  right: 50%;
  top: 20px;
  position: fixed;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
  z-index: 50;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
